@font-face{
  font-family: 'Arial Regular';
  src: url('../fonts/Arial-Regular.eot');
  src: url('../fonts/Arial-Regular.woff2') format('woff2'), url('../fonts/Arial-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
  

@font-face{
  font-family: 'Arial Bold';
  src: url('../fonts/Arial-Bold.eot');
  src: url('../fonts/Arial-Bold.woff2') format('woff2'), url('../fonts/Arial-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}
  